
        <div class="col-sm-12 col-md-12 col-lg-2 mb-3 card-menu">
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="card user-info-card">
                        <div class="card-header">
                            <div class="user-img" style="background-image:url('assets/images/user.png')"></div>
                        </div>
                        <div class="card-body p-2">
                            <div class="user-info">
                                <h6>Mohammad Abdullah</h6>
                                <p class="mb-2">Sr.Project Manager</p>
                            </div>
                            <div class="text-center">
                                <button type="button" class="custom-btn blue mr-1">Message</button>
                                <button type="button" class="custom-btn turquoise ml-1">follow</button>
                                <div class="d-flex justify-content-md-center">
                                    <ul class="user-icons mt-3 mb-2">
                                        <li>
                                            <a class="user-icons-link" href="#" title="Inbox">
                                                <img src="assets/images/inbox-icon.svg" />
                                                <span class="badge notefications-icon">2</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="user-icons-link" href="#" title="Notifications">
                                                <img src="assets/images/noti-icon.svg" />
                                                <span class="badge notefications-icon">4</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="user-icons-link" href="#" title="Tasks">
                                                <img src="assets/images/tasks-icon.svg" />
                                            </a>
                                        </li>
                                        <li>
                                            <a class="user-icons-link" href="#" title="Collaborations">
                                                <img src="assets/images/collaborations-icon.svg" />
                                            </a>
                                        </li>
                                        <li>
                                            <a class="user-icons-link" href="#" title="Sign out">
                                                <img src="assets/images/logout-icon.svg" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="user-info-summery p-2">
                            <a data-toggle="collapse" class="collaps-icon" data-target="#info"><i class="fas fa-chevron-down"></i></a>
                            <ul class="user-data">
                                <li>
                                    <i class="fas fa-envelope mr-2"></i> mohammad@gmail.com
                                </li>
                                <li>
                                    <i class="fas fa-phone-alt mr-2"></i> +971 5064 67 9
                                </li>
                            </ul>
                            <div id="info" class="collapse">
                                <p class="pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                            </div>
                        </div>
                        <div class="info-comp p-2">
                            <p class="comp-text">Info compilation</p>
                            <div class="d-flex mb-1">
                                <div class="progress flex-fill">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    </div>
                                </div>
                                <div class="ml-2">
                                    <span data-count="70" class="progress-val counter pr-2">0</span>
                                </div>
                            </div>
                            <a class="default-link text-uppercase" href="user-profile.html">update user info <i class="fas fa-chevron-right ml-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">Menu</h6>
                        </div>
                        <div class="card-body pl-0 pr-0 pt-0 pb-2">
                            <ul class="main-nav nav flex-column flex-nowrap overflow-hidden">
                                <li class="nav-item active">
                                    <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1">
                                        <span class="d-sm-inline ml-1 views-icon main-menu-icon">My Views</span>
                                    </a>
                                    <div class="collapse" id="submenu1" aria-expanded="false">
                                        <ul class="flex-column pl-2 nav">
                                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>Dashboard1</span></a></li>
                                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>Dashboard2</span></a></li>
                                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>Dashboard3</span></a></li>
                                        </ul>
                                    </div>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link collapsed text-truncate" href="#submenu2" data-toggle="collapse" data-target="#submenu2">
                                        <span class="d-sm-inline ml-1 Actions-icon main-menu-icon">My Actions</span>
                                    </a>
                                    <div class="collapse" id="submenu2" aria-expanded="false">
                                        <ul class="flex-column pl-2 nav">
                                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>My Tasks</span></a></li>
                                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>My Requests</span></a></li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link collapsed text-truncate" href="#submenu3" data-toggle="collapse" data-target="#submenu3">
                                        <span class="d-sm-inline ml-1 Encyclopedias-icon main-menu-icon">Encyclopedias</span>
                                    </a>
                                    <div class="collapse" id="submenu3" aria-expanded="false">
                                        <ul class="flex-column pl-2 nav">
                                            <li class="nav-item">
                                                <a class="nav-link collapsed py-1" href="#submenu2sub1" data-toggle="collapse" data-target="#submenu2sub1"><span>Encyclopedia1</span></a>
                                                <div class="collapse" id="submenu2sub1" aria-expanded="false">
                                                    <ul class="flex-column nav pl-4">
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Metrics
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Context
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Views
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Governance
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link collapsed py-1" href="#submenu2sub2" data-toggle="collapse" data-target="#submenu2sub2"><span>Encyclopedia2</span></a>
                                                <div class="collapse" id="submenu2sub2" aria-expanded="false">
                                                    <ul class="flex-column nav pl-4">
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Metrics
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Context
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Views
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Governance
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link collapsed py-1" href="#submenu2sub3" data-toggle="collapse" data-target="#submenu2sub3"><span>Encyclopedia2</span></a>
                                                <div class="collapse" id="submenu2sub3" aria-expanded="false">
                                                    <ul class="flex-column nav pl-4">
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Metrics
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Context
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Views
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link p-1" href="#">
                                                                Governance
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link collapsed text-truncate" href="#submenu4" data-toggle="collapse" data-target="#submenu4">
                                        <span class="d-sm-inline ml-1 Administration-icon main-menu-icon">Administration</span>
                                    </a>
                                    <div class="collapse" id="submenu4" aria-expanded="false">
                                        <ul class="flex-column pl-2 nav">
                                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>General Settings</span></a></li>
                                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>Context Settings</span></a></li>
                                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>Metrics Settings</span></a></li>
                                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>Templates</span></a></li>
                                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>Surveys</span></a></li>
                                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>Workflows</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> 