.user-info-card .card-header {
    padding: 0px;
    background-image: url("../../../../assets/images/card-header.png");
    height: 87px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
  }
  .user-info-card.users-profile .card-header {
    background-image: url("../../../../assets/images/Rectangle 808.svg");
  }
  
  .user-info-card .card-header::before {
    background-image: url("../../../../assets/images/carve.svg");
    background-repeat: no-repeat;
    height: 50px;
    position: absolute;
    bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    content: '';
    z-index: 9;
    background-position: bottom center;
    background-size: contain;
  }
  
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 7.5px !important;
    padding-left: 7.5px !important;
  }
  
  .card {
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 4px rgba(106, 150, 183, 0.16);
            box-shadow: 0px 0px 4px rgba(106, 150, 183, 0.16);
    border: 0px;
    background-color: #ffffff;
  }
  
  .card-header {
    border-bottom: 0px !important;
  }
  
  .card-header:first-child {
    border-radius: 6px 6px 0 0;
  }
  
  .user-img {
    height: 100px;
    width: 100px;
    border-radius: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    border: 3px solid #ffffff;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  
  .user-info {
    margin-top: 2em;
    text-align: center;
  }
  
  .user-info h6 {
    color: #384E64;
    font-weight: bold;
  }
  
  .user-info p {
    color: #646567;
    margin-bottom: 0px;
    font-size: 14px;
  }
  