<header>
    <div class="container-fluid pl-5 pr-5">
        <nav class="navbar navbar-expand-lg main-nav-bar">
            <a class="navbar-brand" href="index.html">
                <img class="logo" src="assets/images/logo.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-search"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center main-nav-container" id="navbarsExample08">
                <div class="input-group w-md-50">
                    <div class="input-group-prepend icon-border-bottom h-46 voice-icon">
                        <img src="assets/images/settings-voice-24-px.svg" class="settings_voice" />
                    </div>
                    <input type="text" class="form-control Search-input" id="search" placeholder="Search here…" />
                    <div class="input-group-append icon-border-bottom h-46 search-icon">
                        <img src="assets/images/search - Copy.svg" class="search mt-2" />
                    </div>
                </div>
            </div>
            <form class="mt-md-0 right-header-actions">
                <ul class="nav navbar-nav navbar-right float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-0 position-relative notefications-link" href="#" id="navbardrop" data-toggle="dropdown">
                            <i class="fas fa-bell"></i>
                            <span class="badge notefications-icon">2</span>
                        </a>
                        <div class="dropdown-menu p-0 messages-list">
                            <div class="messages-header">
                                <div class="arrow-up"></div>
                                Notifications
                            </div>
                            <a class="dropdown-item d-flex" href="#">
                                <div class="mr-2">
                                    <i class="fas fa-envelope h6"></i>
                                </div>
                                <div class="flex-fill">
                                    <div class="message-title">Text goes here in this area</div>
                                    <div class="time">12 Des 2019</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex" href="#">
                                <div class="mr-2">
                                    <i class="fas fa-envelope h6"></i>
                                </div>
                                <div class="flex-fill">
                                    <div class="message-title">Text goes here in this area</div>
                                    <div class="time">12 Des 2019</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex" href="#">
                                <div class="mr-2">
                                    <i class="fas fa-envelope h6"></i>
                                </div>
                                <div class="flex-fill">
                                    <div class="message-title">Text goes here in this area</div>
                                    <div class="time">12 Des 2019</div>
                                </div>
                            </a>
                            <div class="messages-footer">
                                <a href="inbox.html">Show all</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown pr-3 pl-4 light-border-right">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-img mr-2" src="assets/images/user.png" />
                            <b>Mohammad Ali</b>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Profile</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#" (click) = "logout()"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
                        </div>
                    </li>


                    <li class="nav-item lang">
                        <a class="nav-link p-0" href="#" id="navbardrop">
                            <i class="lang-icon float-right ml-1"></i>
                            <span>عربي</span>
                        </a>
                    </li>
                </ul>
            </form>
        </nav>
    </div>
</header> 