<div class="row mb-3">
    <div class="col-md-2 col-sm-12 mb-0 pr-md-0 px-lg-2">
        <ul class="nav nav-pills flex-column side-tabs position-relative overflow-hidden pt-65" role="tablist">
            <div class="tabs-links-lable">
                Select Project
            </div>
            <li class="nav-item active-li">
                <a class="nav-link active" data-toggle="tab" href="#">Project Name 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#">Project Name 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#">Project Name 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#">Project Name 4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#">Project Name 5</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#">Project Name 6</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class="row mb-3">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <h4 class="card-title">Projects</h4>
                            </div>
                            <div class="col-sm-12 col-md-9">

                                <ul class="card-header-actions float-right">
                                    <li class="float-right ml-2 mt-1">
                                        <a href="#" class="header-actions resize-card">
                                            <img src="assets/images/resize-card.svg">
                                        </a>
                                    </li>
                                    <li class="float-right ml-2 mt-1 close-li">
                                        <a href="#" class="header-actions close-resize d-none">
                                            <img src="assets/images/close-icon.svg">
                                        </a>
                                    </li>
                                </ul>


                                <div class="btn-group btn-group-sm btn-group-toggle mb-2 float-right" data-toggle="buttons" id="modes-filter">
                                    <label class="btn btn-light-secundary d-none d-sm-inline-block">
                                        <input type="radio" name="modes" id="qday" value="Quarter Day"> Quarter Day
                                    </label>
                                    <label class="btn btn-light-secundary">
                                        <input type="radio" name="modes" id="hday" value="Half Day"> Half Day
                                    </label>
                                    <label class="btn btn-light-secundary">
                                        <input type="radio" name="modes" id="day" value="Day"> Day
                                    </label>
                                    <label class="btn btn-light-secundary active">
                                        <input type="radio" name="modes" id="week" value="Week" checked> Week
                                    </label>
                                    <label class="btn btn-light-secundary">
                                        <input type="radio" name="modes" id="month" value="Month"> Month
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <svg id="tasks-gantt"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>