<div class="col-sm-12">
    <div class="all-st-cards d-flex flex-wrap">
        <div class="w-25 float-left single-st-container">
            <div class="card single-st-card" data-title="projects">
                <div class="p-2">
                    <h6>Projects</h6>
                    <h1 class="counter" data-count="15">0</h1>
                    <p><span class="badge badge-turquoise mr-1 border-4px"><i class="fas fa-sort-up clear-btn"></i>4%</span>For Last Week</p>
                </div>
            </div>
        </div>
        <div class="w-25 float-left single-st-container">
            <div class="card single-st-card" data-title="object-type">
                <div class="p-2">
                    <h6>object types</h6>
                    <h1 class="counter" data-count="12">0</h1>
                    <p><span class="badge badge-pink mr-1 border-4px"><i class="fas fa-sort-down clear-btn"></i>12%</span>For Last Week</p>
                </div>
            </div>
        </div>
        <div class="w-25 float-left single-st-container">
            <div class="card single-st-card" data-title="object">
                <div class="p-2">
                    <h6>objects</h6>
                    <h1 class="counter" data-count="112">0</h1>
                    <p><span class="badge badge-turquoise mr-1 border-4px"><i class="fas fa-sort-up clear-btn"></i>3%</span>For Last Week</p>
                </div>
            </div>
        </div>
        <div class="w-25 float-left single-st-container">
            <div class="card single-st-card" data-title="kpi">
                <div class="p-2">
                    <h6>KPI's</h6>
                    <h1 class="counter" data-count="134">0</h1>
                    <p><span class="badge badge-turquoise mr-1 border-4px"><i class="fas fa-sort-up clear-btn"></i>2%</span>For Last Week</p>
                </div>
            </div>
        </div>
    </div>
</div>