
@font-face {
    font-family: 'Cairo-Regular';
    src: url('../fonts/Cairo-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Cairo-Regular';
    src: url('../fonts/Cairo-Regular.woff') format('woff');
}
body {
    direction: rtl;
    font-family: 'Cairo-Regular';
}
