 <nav class="circle-menu" id="menu1">
        <ul>
            <li class="dashboard-icon-li" title="Dashboard">
                <a href="#">
                    <div class="noti-icon dashboard-icon"></div>
                </a>

                <div class="sub-menu-container">
                    <div class="sub-menu-title mb-3">
                        Dashboards
                    </div>
                    <div class="pl-3 pr-3">
                        <div class="sub-ul row">
                            <div class="col-sm-12 mb-3">
                                <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-services-dashboards.svg" />
                                        <p>Services Dashboard</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-tasks.svg" />
                                        <p>Tasks Dashboard</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="bussines-icon-li" title="Encyclopedias">
                <a href="#">
                    <div class="noti-icon bussines-icon"></div>
                </a>

                <div class="sub-menu-container">
                    <div class="sub-menu-title mb-3">
                        Encyclopedias
                    </div>
                    <div class="pl-3 pr-3">
                        <div class="sub-ul row">
                            <div class="col-sm-12 col-md-6 mb-3">
                                 <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-tree.svg" />
                                        <p>Metrics</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-3">
                                 <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-services.svg" />
                                        <p>Context</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-3">
                                 <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-channels.svg" />
                                        <p>Views</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-3">
                                <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-lows.svg" />
                                        <p>Governance</p>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </li>
            <li class="tasks-icon-li" title="My Actions">
                <a href="#">
                    <div class="noti-icon tasks-managment"></div>
                </a>
            </li>
            <li class="user-icon-li" title="Users managment">
                <a href="#">
                    <div class="noti-icon user-managment"></div>
                </a>
                <div class="sub-menu-container">
                    <div class="sub-menu-title mb-3">
                        Administration
                    </div>
                    <div class="pl-3 pr-3">
                        <div class="sub-ul row">
                            <div class="col-sm-12 col-md-6 mb-3">
                                <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-General.svg" />
                                        <p>General Settings</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-3">
                                <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-Context.svg" />
                                        <p>Context Settings</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-3">
                                <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-Metrics.svg" />
                                        <p>Metrics Settings</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-3">
                                <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-Templates.svg" />
                                        <p>Templates Settings</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-3">
                                <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-Surveys.svg" />
                                        <p>Surveys Settings</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mb-3">
                                <a href="#">
                                    <div class="sub-li">
                                        <img src="assets/images/li-Workflows.svg" />
                                        <p>Workflows Settings</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </nav>